@tailwind base;
@tailwind components;
@tailwind utilities;
@import './starAnimation.css';

:root {
    /*base colors for stars animation*/
    --dark-start-gray: #e8eaed;
    --light-star-gray: #454545;

    --light-transparent-gray-background: rgba(232, 234, 237, 0.5);
    --dark-transparent-gray-background: rgba(232, 234, 237, 0.1);
}

.vertical-timeline-element-content:hover {
    /* overrides elemnt content styles for react-vertical-timeline-component */
    background-color: var(--light-transparent-gray-background) !important;
    backdrop-filter: blur(2px);
    cursor: pointer;
    opacity: 1;
}

.dark .vertical-timeline-element-content:hover {
    /* overrides elemnt content styles for react-vertical-timeline-component */
    background-color: var(--dark-transparent-gray-background) !important;
    backdrop-filter: blur(2px);
    cursor: pointer;
    opacity: 1;
}

.vertical-timeline-element-content p {
    /* overrides elemnt content p styles for react-vertical-timeline-component */
    margin: 0rem 0rem !important;
}
